{% extends 'layout.njk' %}

{% block style %}
{% endblock style %}

{% block content %}
   <section class="search-products container">
      <aside>
	 <div class="header">
	    <h2>Computador</h2>
	    <p>12 encontrados</p>
	 </div>
	 <div class="categories">
	    <h4>cCategorias</h4>
	    <ul>
	       <li><a href="#">Eletronicos</a></li>
	       <li><a href="#">Comida</a></li>
	    </ul>
	 </div>
      </aside>
   </section>


{%endblock content%}


