{% extends 'layout.njk' %}
{% block style %}
   <link rel="stylesheet" href="/styles/user.css">
{% endblock style%}

{% block content %}
   <section class="user-register container form">
      <form action="/users/register" method='POST'>
	 <div class="header">
	    <h3>Registre-se</h3>
	 </div>
	 <div class="fields">
	    {% include 'users/fields.njk'%}
	 </div>

         <button class="button" type='submit'>Salvar</button>
      </form>
   </section>
{%endblock content%}
