{% extends '../layout.njk'%}

{% block style %}
   <link rel="stylesheet" href="/product.css">
{%endblock%}
{% block content %}
   <section class="product-single container">
      <div class="gallery">
	 <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="">
      </div>
      <div class="info">
	 <h1>Computador</h1>
	 <div class="published">
	    Publicado em 18/12 às 21h
	 </div>

	 <div class="description">
	    asuehasuehsahe aseuhsaue asueh
	 </div>

	 <div class="price-buy">
	    <div class="price">
	       R$ 99,99

	       <span class="old">R$ 109,99</span>
	    </div>
	    <div class="buy">
	       <button class="button">Comprar</button>
	    </div>
	 </div>
      </div>
   </section>
{% endblock%}

