<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   {% block title %}
      <title></title>
   {% endblock title %}
   {% block style %}
      <link rel="stylesheet" href="/style.css">
   {% endblock style %}
</head>
<body>
   <header>
      <div class="links">
         <a href="/">Instrutores</a>
         <a href="/members">Membros</a>
      </div>
   </header>
   {% block content%}
   {% endblock content %}
</body>
</html>
