{% extends "layout.njk" %}

{% block content %}
   <div class="card">
      <table width='100%'>
	 <thead>
	    <tr>
	       <th>Instrutor</th>
	       <th>Atendimento</th>
	       <th>Ação</th>
	    </tr>
	 </thead>
	 <tbody>
	    {% instructor in instructors %}
	    <tr>
	       <td>{{instructor.name}}</td>
	       <td>{{instructor.serivces}}</td>
	       <td><a href="http://"></a></td>
	    </tr>
	 </tbody>
      </table>
   </div>
{% endblock content %}
