<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">

   {% block head %}
      <title>Launcstore</title>
   {% endblock head%}
   <link rel="stylesheet" href="/global.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	 rel="stylesheet">

   {% block style %}
   {% endblock style%}


</head>
<body>
   {% include 'parts/header.njk'%}

   {% block content %}
   {% endblock content %}

   {% include 'parts/footer.njk' %}
   
</body>
</html>
